#top-bar {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 6px 0;
    background: white;

}

#side-bar {
    height: 100%;

    position: fixed;
    top: 46px;
    left: 0;

    padding: 14px 4px;
    background: white;
}

#video-feed {
    padding: 112px 0 0 72px;
}

#filter-bar {
    width: calc(100vw - 80px);

    position: fixed;
    top: 50px;
    left: 72px;
    z-index: 10;

    padding: 12px 0;
    background: white;
}