.links-bar {
    width: 64px;
    height: 100%;
}

.links-bar-item {
    text-decoration: none;
}

.links-bar-item #container {
    width: 100%;
    height: 74px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    color: #272727;
}

.links-bar-item #container.selected {
    color: #171717;
}

.links-bar-item #container:hover {
    background: rgb(245, 245, 245);
    border-radius: 10px;
}

.links-bar-item #container #icon {
    font-size: 22px;
}

.links-bar-item #container #label {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 16px;
}