:root {
    --search-bar-border: 1px solid rgb(192, 192, 192);
}

.navigation-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar #logo {
    justify-self: flex-start;
    height: 40px;

    margin: 0 0 0 40px;
}

.navigation-bar #search-bar {
    justify-self: center;
    flex: 0 1 728px;

    margin: 0 80px;
}

.navigation-bar #icon {

}

.search-bar #container {
    height: 38px;

    display: flex;
    flex-direction: row;
    overflow: hidden;

    border: var(--search-bar-border);
    border-radius: 40px;
    box-shadow: inset 0 1px 2px rgb(238, 238, 238);
}

.search-bar #container #query {
    width: 100%;

    padding: 0 16px;

    font-size: 16px;

    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.search-bar #container #search {
    width: 64px;
    height: 38px;

    background: rgb(248, 248, 248);
    border: none;
    border-left: var(--search-bar-border);
}

.search-bar #container #search:hover {
    background: rgb(240, 240, 240);
}

.profile-icon {
    padding: 0 16px;
}

.profile-icon img {
    width: 40px;
    
    border-radius: 40px;
}

.logo {
    padding: 18px 14px;
}

.logo img {
    height: 35px;
    transform: translateY(10%);
}