.video-feed {
    display: flex;
    flex-wrap: wrap;
}

.video-recomendations {
    display: flex;
    flex-flow: column nowrap;

    margin-left: 14px;
    margin-top: 14px;
}

.video-card {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    align-content: space-around;
    justify-content: start;

    padding: 10px 10px;
    margin-bottom: 20px;

    text-overflow: ellipsis;
    text-decoration: none;
}

.video-card.compact {
    flex-flow: row nowrap;
    align-items: flex-start;

    margin-bottom: 4px;
    padding-bottom: 0;
    padding-top: 0;
}

@media (max-width: 600px) {
    .video-feed .video-card {
        width: calc(100% / 1 - 20px);
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .video-feed .video-card {
        width: calc(100% / 2 - 20px);
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .video-feed .video-card {
        width: calc(100% / 3 - 20px);
    }
}

@media (min-width: 1001px) {
    .video-feed .video-card {
        width: calc(100% / 4 - 20px);
    }
}

.video-recomendations .video-card {
    width: 100%;
}

.video-card #thumbnail {
    /* max-width: 320px; */

    position: relative;
    object-fit: cover;
}

.video-card #thumbnail img,
.video-card #thumbnail video {    
    width: 100%;
    height: auto;

    border-radius: 12px;
}

.video-card #thumbnail video {
    position: absolute;
    top: 0;
    left: 0;
}

.video-card #thumbnail video {
    opacity: 0;
    transition: opacity 0.5s;
}

.video-card #thumbnail:hover video {
    opacity: 1;
}

.video-card #description {
    width: 100%;

    display: flex;
    flex-direction: row;

    margin-top: 10px;
}

.video-card.compact #description {
    margin-top: 0px;
    margin-left: 10px;
}

.video-card #description #channel-icon {
    width: 36px;
    height: 36px;
    border-radius: 36px;

    margin-right: 12px;
}

.video-card #description #column {
    flex-direction: column;

    font-family: Helvetica, sans-serif;
    line-height: 18px;
}

.video-card #description #column #title {
    font-size: 14px;
    font-weight: bold;
    color: rgb(16, 16, 16);

    margin-bottom: 4px;
}

.video-card #description #column #channel,
.video-card #description #column #stats {
    font-size: 12px;
    line-height: 14px;
    color: rgb(100, 100, 100);
}